### Gradle
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
.idea_modules/
atlassian-ide-plugin.xml
# Plugin - JPA Buddy #
.jpb
src/main/generated

### Eclipse ###
.metadata
# bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
# .factorypath
.buildpath
.target
.tern-project
.recommenders/
.apt_generated/
.apt_generated_test/

### VS Code ###
.vscode/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### I3D Meter Communication ###
db/
logging/
src/temp_db/
src/main/generated/
src/main/resources/secrets/
src/test/resources/secrets/
src/main/resources/migrations/changelogs/
!src/main/resources/migrations/changelogs/0000-changelog.json
src/main/resources/migrations/temp-changelog.json
src/main/java/com/acme/onlineshop/Spielplatz.java
settings.properties
derby.log
onlineshop.pid