<!--/* Thymeleaf tutorial: https://www.thymeleaf.org/doc/tutorials/3.0/usingthymeleaf.html */-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Online Shop</title>
        <meta th:replace="~{fragments/base.html :: base-head}"/>
        <link th:rel="stylesheet" th:href="@{/css/index.css}"/>
    </head>
    <body>
        <div class="container-fluid">
            <dl>
                <dt><a href="/login">Login</a></dt>
                <dd>- This is the Login screen</dd>
                <dt><a href="/home">Website</a></dt>
                <dd>- This is the main website "normal" users would visit. Here you can scroll through the page & purchase the offers/products</dd>
                <dt><a href="/admin">Administration</a></dt>
                <dd>- This is the administrative website for staff users. Here you can add/delete/manipulate the offers/products</dd>
                <dt><a href="#">OpenAPI</a></dt>
                <dd>- REST endpoint documentation for remote surveillance/integration of this application</dd>
                <dt><a href="/upload/image">Upload image file</a></dt>
                <dd>- Form for uploading an image file</dd>
            </dl>
        </div>
        <div th:text="${#authentication.name}">
            The value of the "name" property of the authentication object should appear here.
        </div>
        <div th:replace="~{fragments/base.html :: base-javascript}"></div>
        <!--/* @see https://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html#script-inlining-javascript-and-dart */-->
        <script th:inline="javascript">
            const info_url = /*[[${info_url}]]*/ undefined;
        </script>
        <script th:src="@{/js/index.js}"></script>
    </body>
</html>
